.Cube
{
  $size: var( --size-size );
  // -0.5px to fix borders gap/space on Chrome
  $half: calc( #{ $size } / 2 - 0.5px );
  $-half: calc( -1 * #{ $half } );

  $color: var( --color-color );

  // TODO : Set ratios as Cube props
  $ratioBorder: .1;
  $ratioShadow: .25;

  $sizeBorder: calc( #{ $size } * #{ $ratioBorder } );
  $sizeShadow: calc( #{ $size } * #{ $ratioShadow } );

  $border: $sizeBorder solid $color;

  // IDEA : inset shadow for planets and outset shadow for stars ?
  $shadow: 0 0 $sizeShadow 0 $color inset;

  @extend %flex-center, %scene-element;

  > *
  {
    @extend %pseudo-elements;

    &,
    &::before,
    &::after
    {
      @extend %scene-element, %flex-center;

      @include size( $size );

      border: $border;
      box-shadow: $shadow;
    }

    &:first-child
    {
      & { transform: rotate3d( 0, 1, 0, 0deg ) translate3d( 0, 0, $half ) }
      &::before { transform: rotate3d( 0, 1, 0, 90deg ) translate3d( $half, 0, $half ) }
      &::after { transform: rotate3d( 0, 1, 0, -90deg ) translate3d( $-half, 0, $half ) }
    }

    &:last-child
    {
      & { transform: rotate3d( 0, 1, 0, 180deg ) translate3d( 0, 0, $half ) }
      &::before { transform: rotate3d( 1, 0, 0, 90deg ) translate3d( 0, $-half, $half ) }
      &::after { transform: rotate3d( 1, 0, 0, -90deg ) translate3d( 0, $half, $half ) }
    }
  }
}