.Orbit
{
  $distance: var( --size-distance );
  $size: var( --size-size );
  $half: calc( #{ $size } / 2 );

  // TODO : ratio as Orbit prop ?
  $ratioOrbit: .25;

  $orbitColor: var( --color-color );
  $orbitSize: calc( #{ $size } * #{ $ratioOrbit } );
  $orbitDiameter: calc( 2 * #{ $distance } + #{ $half } );

  @extend %pseudo-elements, %scene-element, %flex-center;

  @include size( $orbitDiameter );

  border: $orbitSize solid $orbitColor;
  border-radius: 50%;

  transform: rotate3d( 1, 0, 0, 90deg );
}