%flex-center
{
  @include flex-parent( $ai: center, $jc: center );
}

%full-size
{
  @include size( 100% );
}

%scene-element
{
  position: absolute;
  transform-style: preserve-3d;
}

%pseudo-elements
{
  &::before,
  &::after
  {
    content: '';
  }
}