@mixin size ( $w, $h: $w )
{
  width: $w;
  height: $h;
}

@mixin position ( $p )
{
  left: $p;
  transform-origin: -$p;
}

@mixin flex-parent (
  $d: null,
  $ai: null,
  $jc: null,
  $ac: null,
  $w: null,
)
{
  display: flex;
  flex-direction: $d;
  align-items: $ai;
  justify-content: $jc;
  align-content: $ac;
  flex-wrap: $w;
}

@mixin rotation ( $x, $y, $z, $t )
{
  transform: rotate3d( $x, $y, $z, $t );
}